.content{
  
    
    width: 100%;
    
}
h2{
    margin-top: 20px;
}
.article1{
    margin-left: 200px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f3f3;
    padding-left:20px ;
    padding-right:20px ;
    padding-bottom: 300px;
}

.brief{
   width: 630px;
   height: 50px;

  margin-top: 20px;

   
}

.article-content{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    text-indent: 2em;

}