.blog-title {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid #eee;
}
.blog-title span {
  margin-left: 15px;
  border-bottom: 2px solid #000;
  font-size: 18px;
  font-family: "STXingkai";
  font-weight: normal;
  line-height: 30px;
}
.blog-article {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
.blog-header {
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: 550;
  line-height: 50px;
  text-align: center;
}
.blog-author {
  overflow: hidden;
  color: #999;
  line-height: 34px;
  text-align: center;
}
.blog-desc {
  border: 1px solid #f3f3f3;
  padding: 10px;
  margin: 10px auto 0;
  box-sizing: border-box;
  color: #888888;
  line-height: 23px;
  background: none repeat 0 0 #f6f6f6;
}
.img-blog {
  display: block;
  margin: auto;
}
.blog-detail {
  padding: 20px;
  box-sizing: border-box;
  line-height: 24px;
  font-size: 14px;
  text-indent: 20px;
}
