* {
  margin: 0;
  padding: 0;
}

a:visited {
  color: #000;
}

#homePage {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  color: #444;
}

.header-content a:hover {
  cursor: pointer;
  background-color: rgb(107, 161, 198);
}
.header-content span {
  font-size: 24px;
}
.header-content a {
  margin-left: 150px;
  text-decoration: none;
}
footer {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 15px;
  color: #fff;
  background-color: #1c2327;
  overflow: hidden;
}
.img-wechat {
  float: left;
  width: 70px;
  height: 70px;
  margin-left: 50px;
}
.img-offical {
  float: left;
  width: 70px;
  height: 70px;
  margin-left: 30px;
}
.footer-desc {
  float: left;
  width: 800px;
  height: 70px;
  margin-left: 20px;
}
.footer-desc h3 {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #00c1de;
}
.footer-desc p {
  width: 100%;
  height: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 15px;
}
