.content {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
  background-color: #eee;
}

.homePage {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 450px;
  margin-top: 20px;
}

.img3 {
  margin-top: 15px;
}
