<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/css/header.css">
    <link rel="stylesheet" href="./static/css/<%- config.page %>.css">
    <title>个人博客</title>
</head>

<body>
    <div id="homePage">
        <div class="header-content">
            <span>杜涛个人博客</span>
            <a href="./homePage.html">首页</a>
            <a href="./person.html">个人简介</a>
            <a href="./column.html">栏目页</a>
            <a href="./blog.html">博文详情页</a>
        </div>
    </div>