<% config = {
    page: 'blog'
} %>
<%-include ./ejs/header %>
<section class="section-content">
    <div class="content">
        <div class="blog-article">
            <h3 class="blog-header">安静的做一个爱技术的人</h3>
            <p class="blog-author">杜涛</p>
            <p class="blog-desc">
                简介自从入了这行，很多人跟我说可以做网络教程，我也有考虑，但最终没有实现，因为我觉得在这个教程泛滥的时代，直接做一套免费的原创个人博客模板更为实在。每当看到自己喜欢的配色图片
            </p>
            <img class="img-blog" src="<%- './static/image/blog-h1.jpg' %>" alt="图" />
            <p class="blog-detail">
                每一套模板，我都是利用了一些碎片化的时间慢慢做的，前后大概持续了一周多的时间，因为每个人的逻辑思维方式不一样，我想要更简洁明了的代码，所以每一套模板我都是自己一个个用键盘敲出来的。对于个人博客模板，我一直坚持这样一个原则，那就是不仅漂亮，而且代码要少！因为要做出精美的个人博客模板是需要大量的时间投入的，没有一个人可以轻而易举的搞定一套个人博客模板，尤其是针对性（或专业性）极强的模板，一份好的模板，要求其代码在精炼的同时还要漂亮，后期内容上了，还要利于网站收录。
            </p>
        </div>
    </div>
</section>
<%-include ./ejs/footer %>