<% config = {
    page: 'blog'
} %>
<%-include ./ejs/header %>
<section class="section-content">
    <div class="content">
        <div class="blog-article">
            <h3 class="blog-header"><%- blogDetail.title%></h3>
            <p class="blog-author"><%- blogDetail.author%></p>
            <p class="blog-desc">
                <%- blogDetail.desc%>
            </p>
            <img class="img-blog" src="<%- './image/blog-h1.jpg' %>" alt="图" />
            <p class="blog-detail">
                <%- blogDetail.content%>
            </p>
        </div>
    </div>
</section>
<%-include ./ejs/footer %>