<% config = {
    page: 'column'
} %>
<%-include ./ejs/header %>
<section class="section-content">
    <div class="content">
        <div class="column">
            <% for (let i = 0; i < columnList.length; i++) {%>
            <a href="<%- columnList[i]['link']%>" class="column-item">
                <div class="first"><%- columnList[i]['title'] %></div>
                <div class="second">
                    <img src="<%- './image/'+columnList[i]['imgUrl'] %>" alt="">
                    <span class="third"><%- columnList[i]['content']%></span>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</section>
<%-include ./ejs/footer %>