<% config = {
    page: 'homePage'
} %>
<%-include ./ejs/header %>
<section class="section-content">
    <div class="content">
        <div class="homePage">
            <div class="about-me">
                <a href="person.html"><img src="<%- './static/image/aboutme.png' %>"></a>
            </div>
            <div>
                <div>
                    <a href="./article/article3.html"><img src="<%- './static/image/homePage2.png' %>" alt=""></a>
                </div>
                <div class="img3">
                    <a href="./article/article1.html"><img src="<%- './static/image/homePage3.png' %>" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include ./ejs/footer %>